<h1>Liste de Pokémons</h1>

<input
  type="text"
  (click)="selectPokemon($event)"
>
<p>{{ PokemonList[0].name }}</p>
<p>{{ PokemonList[1].name }}</p>
<p>{{ PokemonList[2].name }}</p>
<p>{{ PokemonList[3].name }}</p>
<p>{{ PokemonList[4].name }}</p>
<p>{{ PokemonList[5].name }}</p>
<p>{{ PokemonList[6].name }}</p>
<p>{{ PokemonList[7].name }}</p>
<p>{{ PokemonList[8].name }}</p>
<p>{{ PokemonList[9].name }}</p>
<p>{{ PokemonList[10].name }}</p>
<p>{{ PokemonList[11].name }}</p>
